/**
 * 파일명 : Introduce.scss
 * 설 명 : TimeSeries Sensor Data Forecasting UI 소개 화면
 * 최초 생성일 : 
 *
 * 수정일			수정내역 
 * ---------  -----------------------------------------------------------------
 * 
 */
#introduce { // #introduce
  height: calc(100vh - 2rem - 85px);
  width: calc(100vw - 3rem - 78px - 1px);

  // .head
  .head { 
    padding: 2rem;
    display: flex;
    align-items: center;
    line-height: var(--font-regular);

    // .head i
    i { 
      font-size: 1.4rem;
      margin-right: 2rem;
      color: rgb(195, 202, 217);
    }    

    // .head h3
    h3 { 
      color: rgb(98, 114, 147);
    }
  }

  // .body
  .body { 
    margin: 0 2rem;
    height: 85%;
    border-radius: var(--size-border-large-radius);

    // .body *
    * { 
      background: none;
    }    

    // .body .cards
    .cards { 
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      position: relative; 

      // .body .cards .card
      .card { 
        background: var(--color-white);
        border-radius: 30px; 
        height: 37vh;
        padding: 1rem;
        position: relative;

        // .body .cards .card .order
        .order { 
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          width: 100px;
          height: 100px;          
          position: absolute;
          color: var(--color-white);
          background: #a9a9a9;
          font-weight: bolder;

          // .body .cards .card .order:hover ~ .detail
          &:hover~.detail { 
            transition: all 1.5s ease;
            opacity: 1;
            z-index: 1;
            pointer-events: auto;            
            background: rgba(247, 248, 250, .9);
          }
        }

        // .body .cards .card .title
        .title { 
          margin: 1rem 0;
          text-align: center;
          font-size: 30px;
          font-weight: bold;
          font-style: oblique;
          letter-spacing: 15px;
          word-spacing: 5px;
          color: var(--color-title);
        }

        // .body .cards .card .desc
        .desc {
          margin: 2rem 1rem 1rem .1rem;
          text-align: center;
          text-align: justify;
          font-size: 20px;
          color: var(--color-desc);
        }

        // .body .cards .card .item
        .item {
          position: absolute;
          display: flex;
          bottom: 25px;
          left: 280px;

          // .body .cards .card .item .content
          .content {            
            width: 80px;
            height: 80px;
            line-height: 80px;
            font-weight: var(--weight-bold);
            font-style: oblique;
            text-align: center;            
            border-radius: 50%;
            background: #a9a9a93f;
            color: var(--color-icon);
            margin-right: 7rem;

            // .body .cards .card .item .content .i
            i {
              font-size: 45px;
            }
          }
        }

        // .body .cards .card .detail
        .detail {
          position: fixed;
          left: 51.8%;
          top: 58.5%;
          transform: translate(-50%, -50%);
          width: 1600px;
          height: 660px;
          border-radius: 30px;          
          background: rgb(247, 248, 250);                    
          opacity: 0;
          pointer-events: none;           
          padding: 1.5rem 0;
          text-align: center;

          // .body .cards .card .detail:hover
          &:hover {
            opacity: 1;
            z-index: 1;
            pointer-events: auto;
            background: rgba(247, 248, 250, .9);
          }

          h1 {
            margin-bottom: 2rem;
          }
          
          table {
            border-spacing: 0px;
            margin: 0 auto;

            .num {
              width: 30px;
              height: 30px;
              line-height: 30px;

              background: #a9a9a9;
              color: var(--color-white);

              font-size: 1.5rem;
              font-weight: bold;   
              
              position: absolute;
              left: 60px;
              top: -100px;

              &.one {
                left: -38px;
              }

              &.six {
                left: 62px;
              }

              &.three {
                left: -38px;
                top: -42px;
              }

              &.four {
                top: -42px;
              }

              &.two {
                top: -55px;
                left: -19px;
              }

              &.five {
                top: -55px;
                left: 42px;
              }
            }

            .name {
              border-radius: 50%;
              width: 150px;
              height: 150px;
              background: #a9a9a93f;
              color: var(--color-icon);
              font-size: 1.5rem;
              font-weight: bold;
              position: absolute;
              top: -105px;
              left: 50px;
              display: flex;
              justify-content: center;
              align-items: center;

              &.one {
                left: -50px;
              }

              &.six {
                left: 50px;
              }

              &.three {
                top: -50px;
                left: -50px;
              }

              &.four {
                top: -50px;
                left: 50px;
              }

              &.two {
                top: -60px;
                left: -30px;
              }

              &.five {
                top: -60px;
                left: 30px;
              }
            }

            .desc-line {
              // // border: 1px solid red;
              // position: absolute;
              // // z-index: 200;
              // width: 100px;
              // height: 10px;
              // background: var(--color-border);

              // &.one {
              //   top: 0px;
              //   left: -100px;
              // }
            }

            tr {
              // border: 1px solid black;

              td {
                position: relative;
                // padding: 5px;

                &:nth-child(odd) {
                  width: 200px;
                }

                &:nth-child(even) {
                  width: 50px;
                }
              }

              &:nth-child(odd) {
                height: 80px;
              }

              &:nth-child(even) {
                height: 30px;
              }

            } 
            
            .arrow {
              position: absolute;
              font-size: 80px;
              color: gray;
              top: -90px;
              left: -40px;
              // width: 200px;

              &.one-to-two {
                left: -80px;
                top: -100px;
                transform: rotate(-40deg);
              }

              &.two-to-three {
                top: -70px;
                left: -90px;
                transform: rotate(-60deg);
              }

              &.three-to-four {
                top: -30px;
              }

              &.four-to-five {
                left: 0px;
                top: -70px;
                transform: rotate(-40deg);
              }

              &.five-to-six {
                top: -110px;
                left: 0px;
                transform: rotate(30deg);
              }
            }

            // .desc.one {
            //   background: blue;
            // }

            .desc.one {
              background: gray;
              color: white;
              border-radius: .4em;

              width: 400px;
              height: 150px;

              position: absolute;
              top: -60px;
              left: -240px;

              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              font-size: 30px;
              font-style: oblique;
            }
            .desc.one:after {
              content: '';
              position: absolute;
              right: 0;
              top: 50%;
              width: 0px;
              height: 0;
              border: 30px solid transparent;
              border-left-color: gray;
              border-right: 0;
              border-bottom: 0;
              margin-top: 20px;
              margin-right: -30px;
            } 
          }
        }

        // 데이터 준비
        // .body .cards .card:nth-child(1)
        &:nth-child(1) {

          // .body .cards .card:nth-child(1) .order
          .order {
            top: -4px;
            left: -4px;
            border-radius: 50px 0 200px 0;

            // .body .cards .card:nth-child(1) .order .alpha
            .alpha {
              position: absolute;
              top: 15px;
              left: 30px;
            }

            // .body .cards .card:nth-child(1) .order:hover
            &:hover {
              transition: all 200ms ease;
              width: 120px;
              height: 120px;
              background: #bdbebd;

              // .body .cards .card:nth-child(1) .order:hover alpha
              .alpha {
                transition: all 200ms ease;
                font-size: 50px;
              }
            }  
          }

          // 개발하기 위한 임시 로직=========================
          // .detail {
          //   opacity: 1;
          //   z-index: 100;
          // }
          //-------------------------------------------------
        }

        // 시계열 준비
        // .body .cards .card:nth-child(2)
        &:nth-child(2) {

          // .body .cards .card:nth-child(2) .order
          .order {
            top: -2px;
            left: 755px;
            border-radius: 0 50px 0 200px;

            // .body .cards .card:nth-child(2) .order .alpha
            .alpha {
              position: absolute;
              top: 15px;
              left: 50px;
            }

            // .body .cards .card:nth-child(2) .order:hover
            &:hover {
              transition: all 200ms ease;
              left: 735px;
              width: 120px;
              height: 120px;
              background: #bdbebd;

              // .body .cards .card:nth-child(2) .order:hover .alpha
              .alpha {
                transition: all 200ms ease;
                font-size: 50px;
              }
            }
          }
        }

        // 시계열 예측
        // .body .cards .card:nth-child(3)
        &:nth-child(3) {

          // .body .cards .card:nth-child(3) .order
          .order {
            top: 246px;
            left: -0px;
            border-radius: 0 200px 0 50px;

            // .body .cards .card:nth-child(3) .order .alpha
            .alpha {
              position: absolute;
              top: 30px;
              left: 30px;
            }

            // .body .cards .card:nth-child(3) .order:hover
            &:hover {
              transition: all 200ms ease;
              top: 226px;
              width: 120px;
              height: 120px;
              background: #bdbebd;

              // .body .cards .card:nth-child(3) .order:hover .alpha
              .alpha {
                transition: all 200ms ease;
                font-size: 50px;
              }
            }
          }

          // .body .cards .card:nth-child(3) .content
          .content {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            font-size: 1rem;
            font-weight: var(--weight-bold);

            // .body .cards .card:nth-child(3) .content:nth-child(1)::before
            &:nth-child(1)::before {
              content: "다변수 예측";
            }

            // .body .cards .card:nth-child(3) .content:nth-child(2)::before
            &:nth-child(2)::before {
              content: "단변수 예측";
            }

            // .body .cards .card:nth-child(3) .content:nth-child(1)
            // .body .cards .card:nth-child(3) .content:nth-child(2)
            &:nth-child(1),
            &:nth-child(2) {
              margin-right: 8.5rem;              

              // .body .cards .card:nth-child(3) .content:nth-child(1):before
              // .body .cards .card:nth-child(3) .content:nth-child(2):before
              &::before {
                width: 110px;
                position: absolute;
                left: 40px;
                top: -70px;
                opacity: 0;
                transition: all 300ms ease;
              }
            }

            // .body .cards .card:nth-child(3) .content:hover
            &:hover {
              transform: scale(1.3);
              transition: all 300ms ease;

              // .body .cards .card:nth-child(3) .content:hover i
              i {
                font-size: 3rem;
                color: rgb(255, 255, 255);                
                transition: all 300ms ease;
              }

              // .body .cards .card:nth-child(3) .content:hover:nth-child(1)::before
              // .body .cards .card:nth-child(3) .content:hover:nth-child(2)::before
              &:nth-child(1)::before,
              &:nth-child(2)::before {
                top: -30px;
                opacity: 1;
                transition: all 300ms ease;
              }
            }
          }
        }

        // 성능 분석
        // .body .cards .card:nth-child(4)
        &:nth-child(4) {

          // .body .cards .card:nth-child(4) .order
          .order {
            top: 246px;
            left: 755px;
            border-radius: 200px 0 50px 0;

            // .body .cards .card:nth-child(4) .order .alpha
            .alpha {
              position: absolute;
              top: 30px;
              left: 50px;
            }

            // .body .cards .card:nth-child(4) .order:hover
            &:hover {
              transition: all 200ms ease;
              top: 226px;
              left: 735px;
              width: 120px;
              height: 120px;
              background: #bdbebd;

              // .body .cards .card:nth-child(4) .order:hover .alpha
              .alpha {
                transition: all 200ms ease;
                font-size: 50px;
              }
            }
          }

          // .body .cards .card:nth-child(4) .content
          .content {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            font-size: 1rem;
            font-weight: var(--weight-bold);

            // .body .cards .card:nth-child(4) .content:nth-child(1)::before
            &:nth-child(1)::before {
              content: "수치매트릭";
              left: 40px;
            }

            // .body .cards .card:nth-child(4) .content:nth-child(2)::before
            &:nth-child(2)::before {
              content: "차트";
              left: 15px;
            }

            // .body .cards .card:nth-child(4) .content:nth-child(1)::before
            // .body .cards .card:nth-child(4) .content:nth-child(2)::before
            &:nth-child(1)::before,
            &:nth-child(2)::before {
              width: 100px;
              position: absolute;
              top: -70px;
              opacity: 0;
              transition: all 300ms ease;
            }

            // .body .cards .card:nth-child(4) .content:hover
            &:hover {
              transform: scale(1.3);
              transition: all 300ms ease;

              // .body .cards .card:nth-child(4) .content:hover i
              i {
                font-size: 2.5rem;
                color: rgb(255, 255, 255);
                transition: all 300ms ease;
              }

              // .body .cards .card:nth-child(4) .content:hover:nth-child(1)::before
              // .body .cards .card:nth-child(4) .content:hover:nth-child(2)::before
              &:nth-child(1)::before,
              &:nth-child(2)::before {
                top: -30px;
                opacity: 1;
                transition: all 300ms ease;
              }
            }
          }
        }
      }

      // .body .cards .circle
      .circle {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 250px;
        border: 10px solid rgb(25, 164, 164);
        border-radius: 50%;
        background: white;

        // .body .cards .circle .company
        .company {
          position: absolute;
          top: 20px;
          left: 5px;

          // .body .cards .circle .company .korean
          .korean {
            color: rgb(62, 81, 117);
            font-size: 15px;
            font-style: oblique;
            font-weight: var(--weight-bold);
            position: absolute;
            top: 40px;
            left: 127px;
            width: 80px;
          }

          // .body .cards .circle .company .english
          .english {
            color: rgb(25, 164, 164);
            font-size: 80px;
            position: absolute;
            top: 25px;
            left:13px;
          }

          // .body .cards .circle .company .address
          .address {
            color: rgb(25, 164, 164);
            font-size: 1.3rem;
            font-style: oblique;
            position: absolute;
            top: 120px;
            left: 30px;
          }
        }

        // .body .cards .circle .squars
        .squars {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 1rem;          
          position: absolute;
          top: -8px;
          left: -8px;

          // .body .cards .circle .squars .square
          .square {
            width: 115px;
            height: 115px;
            background: transparent;

            // .body .cards .circle .squars:nth-child(1~4)
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
              // .body .cards .circle .squars:nth-child(1~4):hover
              &:hover {
                background: rgba(25, 164, 164, .4);
              }
            }            

            // .body .cards .circle .squars:nth-child(1)
            &:nth-child(1) {
              border-radius: 200px 0 0 0;              
            }

            // .body .cards .circle .squars:nth-child(2)
            &:nth-child(2) {
              border-radius: 0 200px 0 0;             
            }

            // .body .cards .circle .squars:nth-child(3)
            &:nth-child(3) {
              border-radius: 0 0 0 200px;
            }

            // .body .cards .circle .squars:nth-child(4)
            &:nth-child(4) {
              border-radius: 0 0 200px 0;             
            }
          }
        }
        //END OF # introduce .body .circle .squars
      
      }
      //END OF # introduce .body .circle   

    }
    //END OF # introduce .body .cards

  }
  //END OF # introduce .body

}
//End of #introduce
