<script src="/src/main/webapp/assert/js/Dashboard/IntroduceEX.js" defer></script>
<div class="head">
  <i class="fab fa-microsoft"></i>
  <h3>Introduce</h3>
</div>
<div class="container">
  <table>
    <tr>
      <td>
        <div class="box one">
          <div class="square one">
            <span class="num">01</span>
          </div>
          <div class="item">
            <span class="title">
              데이터 준비
            </span>
            <span class="desc">
              원시 상태의 정리되지 않은 이질적인 데이터를 일관되고 정리된 뷰로 변환하는 셀프 서비스 활동이다
            </span>
          </div>
          <div class="detail">

            <div class="circle">
              <div class="big">
                <div class="small">
                  1
                </div>
              </div>
            </div>

            <div class="circle">
              <div class="big">
                <div class="small">
                  2
                </div>
              </div>
            </div>

            <div class="circle">
              <div class="big">
                <div class="small">
                  3
                </div>
              </div>
            </div>

            <div class="circle">
              <div class="big">
                <div class="small">
                  4
                </div>
              </div>
            </div>

            <div class="circle">
              <div class="big">
                <div class="small">
                  5
                </div>
              </div>
            </div>

            <div class="circle">
              <div class="big">
                <div class="small">
                  6
                </div>
              </div>
            </div>

            <!-- <div class="e18_28"></div>
            <div class="e18_29"></div>
            <div class="e18_30"></div>

            <div class="e18_25"></div>



            <div class="e18_26"></div>
            <div>


            </div>



            <div class="e18_31"></div>
            <div class="e18_32"></div>
 -->




            <!-- <div class="e18_41"></div><span class="e18_45">1</span><span class="e18_46">2</span><span
              class="e18_47">3</span><span class="e18_13">Pandas Profiler</span><span
              class="e18_75">SweetViz</span><span class="e18_48">4</span><span class="e18_49">5</span><span
              class="e18_50">6</span>
            <div class="e18_53"></div>
            <div class="e18_54"></div>
            <div class="e18_56"></div>
            <div class="e18_57"></div>
            <div class="e18_58"></div>
            <div class="e18_60"></div>
            <div class="e18_61"></div>
            <div class="e18_62"></div>
            <div class="e18_63"></div>
            <div class="e18_64"></div>
            <div class="e18_65"></div>
            <div class="e18_66"></div><span class="e18_67">센서 데이터 선택</span><span class="e18_69">데이터 로딩 &
              프리뷰</span><span class="e18_70">데이터 전처리</span><span class="e18_71">상관관계 시각화</span><span class="e18_72">데이터
              탐험</span><span class="e18_73">센서 데이터 현황</span> -->
          </div> <!-- end of .detail -->
        </div>
      </td>
      <td>
        <div class="box two">
          <div class="square two">
            <span class="num">02</span>
          </div>
          <div class="item">
            <span class="title">
              시계열 준비
            </span>
            <span class="desc">
              원시 상태의 정리되지 않은 이질적인 데이터를 일관되고 정리된 뷰로 변환하는 셀프 서비스 활동이다
            </span>
          </div>
          <div class="detail">
            시계열 준비 상세 화면
          </div>
        </div>
      </td>
      <td>
        <div class="box three">
          <div class="square three">
            <span class="num">03</span>
          </div>
          <div class="item">
            <span class="title">
              시계열 예측
            </span>
            <span class="desc">
              원시 상태의 정리되지 않은 이질적인 데이터를 일관되고 정리된 뷰로 변환하는 셀프 서비스 활동이다
            </span>
          </div>
          <div class="detail">
            시계열 예측 상세 화면
          </div>
        </div>
      </td>
      <td>
        <div class="box four">
          <div class="square four">
            <span class="num">04</span>
          </div>
          <div class="item">
            <span class="title">
              성능 분석
            </span>
            <span class="desc">
              원시 상태의 정리되지 않은 이질적인 데이터를 일관되고 정리된 뷰로 변환하는 셀프 서비스 활동이다
            </span>
          </div>
          <div class="detail">
            성능 분석 상세 화면
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>