/**
 * 파일명 : PredictMultiVariable.css
 * 설 명 : 시계열 예측 with 다중 변수
 * 최초 생성일 : 
 *
 * 수정일			수정내역 
 * ---------  -----------------------------------------------------------------
 * 
 */
#predict-multi-variable {
  height: calc(100vh - 2rem - 85px);
  width: calc(100vw - 3rem - 78px - 1px);

  .head {
    padding: 2rem;
    display: flex;
    align-items: center;
    line-height: var(--font-regular);

    i {
      font-size: 1.4rem;
      margin-right: 2rem;
      color: rgb(195, 202, 217);
    }

    h3 {
      color: rgb(98, 114, 147);
    }
  }

  .body * {
    background: none;
  }

  .body {
    margin: 0 2rem;
    height: 85%;
    background: var(--color-white);
    border-radius: var(--size-border-large-radius);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}